.safetyBox {
    display: flex;
    height: auto;
    width: 100%;
    max-width: 1015px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Size-10, 10px);
    border-radius: var(--corner-radius-16, 16px);
    background: var(--Main---Elements, #FFF);
    box-shadow: 0px 180px 78px 0px rgba(53, 54, 66, 0.00), 
                0px 16px 71px 0px rgba(53, 54, 66, 0.01), 
                0px 80px 60px 0px rgba(53, 54, 66, 0.05), 
                0px 38px 45px 0px rgba(53, 54, 66, 0.09), 
                0px 8px 25px 0px rgba(53, 54, 66, 0.10);
}

.safetyTitle {
    color: #000;
    padding-left: 19px;
    padding-top: 18px;
    font-family: var(--Family-Title_Inter, Inter);
    font-size: var(--Size-24, 24px);
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
}

.ranges {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 15px;
}

.rangeBox,
.dangerRangeBox {
    border-radius: 3px;
    width: 154px;
    display: flex;
    padding: 20px 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.rangeBox, p {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#good {
    background-color: #71C09B;
}

#mod {
    background-color: #ADEABA;
}

#unhealthySens {
    background-color: #EECF9A;
}

#unhealthy {
    background-color: #F2AD95;
}

#veryUnhealthy {
    background-color: #EE7E90;
}

#dangerous {
    background-color: #BBA3DC;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Mobile styles */
@media (max-width: 768px) {
    .ranges {
        flex-direction: column; /* Stack boxes vertically */
        align-items: center;
        width: 100%;
        margin-left: 0; /* Remove left margin */
        padding-bottom: 20px; /* Add padding below the last box */
    }

    .rangeBox,
    .dangerRangeBox {
        width: 100%; /* Make the boxes take up full width of the container */
        max-width: 300px; /* Optional max width to prevent them from being too large */
        margin-right: 0;
        margin-left: 0;
    }
}