
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F9F9FF;; /* Example background, adjust to your needs */
    width: 100%; /* Ensure navbar stretches full width */
}
.logo{
    display: inline-flex;
    padding: 4.451px 0px 0.636px 5.086px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 9.537px;
} 
.links{
    display: inline-flex;
    align-items: center;
    gap: 41px;
}

.title{
    display: flex;
    width: 326.802px;
    height: 57.222px;
    flex-direction: column;
    justify-content: center;

    color: var(--Main---Text-Black, #1E1E1E);
    font-family: Inter;
    font-size: 40.691px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -2.441px;
}

.vertical{
    border-left: 1px solid rgba(0, 0, 0, 0.21);;
    height: 48.461px;
}