/* #root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

#map-container {
    height: 100%;
    width: 100%;
    border-radius: 16px !important;
    background-color: lightgrey;
    position: relative; 
}

#map-container, .mapbox-card {
    margin: 0;
    padding: 0;
}
.mapbox-card {
    border-radius: 16px !important;
    box-shadow: 0px 180px 78px 0px rgba(53, 54, 66, 0),
    0px 16px 71px 0px rgba(53, 54, 66, 0.01),
    0px 80px 60px 0px rgba(53, 54, 66, 0.05),
    0px 38px 45px 0px rgba(53, 54, 66, 0.09),
    0px 8px 25px 0px rgba(53, 54, 66, 0.1);
}

/* 
.sidebar {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 12px;
    border-radius: 4px;
} */

/* .reset-button {
    position: absolute;
    top: 32px;
    z-index: 1;
    left: 887px;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
} */

/* @media (max-width: 600px) {
    .map-container {
        width: 100%;
        margin: 10px auto;
    }
} */

.mapboxgl-ctrl-compass {
    display: none !important;
}

.mapboxgl-ctrl-zoom-in,
.mapboxgl-ctrl-zoom-out {
    /* background-color: #ffffff; */
    border-radius: 0;
    border: none;
}

.mapboxgl-ctrl-zoom-in,
.mapboxgl-ctrl-zoom-out {
    outline: none !important;
}


.mapboxgl-ctrl-attrib-button {
    border: none;
    padding: 5px !important;
}

.mapboxgl-ctrl-attrib-button:focus {
    outline: none !important;   /* This fixed the shadow glow from info trademark*/
    box-shadow: none;           
}

