#root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#map-container {
    height: 75%;
    width: 75%;
    background-color: lightgrey;
}

.sidebar {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 12px;
    border-radius: 4px;
}

.reset-button {
    position: absolute;
    top: 32px;
    z-index: 1;
    left: 887px;
    /* right: 50px; */
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
}