.container-map {
    display: grid;
    grid-template-areas: 
        "aqi-card mapbox-card"
        "health-rec-card-component pollutants"
        "safetyranges pollutants";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.aqi-card {
    grid-area: aqi-card;
}

.health-rec-card-component {
    grid-area: health-rec-card-component;
}

.mapbox-card {
    grid-area: mapbox-card;
}


.safetyranges {
    grid-area: safetyranges;
}

.pollutants {
    grid-area: pollutants;
}

@media (max-width: 768px) {
    .container-map {
        grid-template-areas:
            "aqi-card"
            "mapbox-card"
            "health-rec-card-component"
            "safetyranges"
            "pollutants";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
