.container-map {
    display: grid;
    grid-template-areas: 
        "aqi-card mapbox-card"
        "health-rec-card-component pollutants"
        "safetyranges pollutants";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.aqi-card {
    grid-area: aqi-card;
}

.health-rec-card-component {
    grid-area: health-rec-card-component;
}

.mapbox-card {
    grid-area: mapbox-card;
}


.safetyranges {
    grid-area: safetyranges;
}

.pollutants {
    grid-area: pollutants;
}

@media (max-width: 768px) {
    .container-map {
        grid-template-areas:
            "aqi-card"
            "mapbox-card"
            "health-rec-card-component"
            "safetyranges"
            "pollutants";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.notification-banner {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #102937; /* Dark background color for contrast */
    color: white; /* White text for better contrast */
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .notification-banner.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }
  
  .notification-banner p {
    margin: 0;
    color: white; /* Explicitly set the text color to white */
    font-weight: bold; /* Make the text stand out more */
  }